body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color:#49488854;
    overflow-x: hidden;
}
.cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #615E7C;
    align-items: center;
    height: 50px;
    color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
}
.cabeçalho h1{
    margin-left: 60px;
    font-size: 2rem;
}
.titulo-pag{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-pag > h1{
    margin-left: 10px;
    color: white;
    font-size: 2rem;
}

.titulo-pag > img {
    width: 32px;
    height: 32px;
}
.pesquisa{
    display: inline-block;
    display: flex;
    align-items: center;
    width: 70%;
    border-radius: 12px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #dddddd54;
    transition: border-color 0.3s ease;
    padding: 5px;
}
.pesquisa img{
    width: 20px;
    height: 20px;
}
.pesquisa input {
    padding-left: 10px;
    background-color: #f9f9f9;
    height: 25px;
    width: 100%;
    border: none;
    outline: none;
}

.pesquisa input:focus {
    border: none;
    outline: none;
}

.pesquisa:focus-within {
    border-bottom: 2px solid #515086;
}
.notificacao-e-sair{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin: 15px;
}
.notificacao-e-sair img{
    filter: invert(1);
}


.sidebar{
    position: fixed;
    top: 1;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f4f4fafd;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sidebar ul li a{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #333;
    text-decoration: none;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 50px;
    width: 80%;
    font-size: 1.0rem;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}
.sidebar ul li{
    padding: 10px;
    width: 100%;
}
.sidebar ul li a > img{
    margin-right: 10px;
}
.sidebar ul li a:hover > img{
    filter: invert(1);
}
.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li a:hover{
    background-color: #515086d7;
    color: white;
}
.perfil{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfil img {
    width: 128px;
    height: 128px;
}
.perfil p{
    font-weight: bold;
    color: #333;
}
section{
    margin-left: 270px;
    text-align: left;
    height: auto;
}
section h2{
    font-size: 2rem;
    color: white;
    margin-left: 50px;
}
.livros-doacoes{
    padding: 15px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.livros-doacoes h2{
    color: white;
    font-size: 2rem;
}
.caixa-livro{
    padding: 15px;
    width: 35%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border-radius: 15px;
    gap: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

}
.caixa-livro img{
   width: 100px;
   border-radius: 10px;
}
.info-livro{
    text-align: left;
    max-width: 100%;
}
.info-livro h5{
    font-size: 1rem;
    color: #333;
    margin-bottom: 0;
}
.info-livro p{
    font-size: 0.9rem;
    margin-bottom: 30px;
}
.info-livro a{
    text-decoration: none;
    display: block;
    width: 70px;
    background-color: #515086;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    transition: background 0.3s ease;
    font-weight: 100;
}
.info-livro a:hover{
    background-color: #515086d7;
}


