body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#49488854;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #615E7C;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.titulo-pag{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-pag > h1{
    margin-left: 10px;
    color: white;
    font-size: 2rem;
}

.titulo-pag > img {
    width: 32px;
    height: 32px;
}

.menu ul li{
    display: inline-block;
    position: relative;
    margin: 15px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.menu ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s;
}

.menu ul li a:hover::after{
    width: 100%;
}

.inicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem-inicio img{
    padding: 15px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.texto-inicio {
    text-align: left;
    max-width: 400px;
    color: #615E7C;
}

.texto-inicio h3{
    font-size: 2rem;
}

.texto-inicio p{
    margin: 10px 0;
    font-size: 1.0rem;
}
.btn-acesse-aqui a{
    text-decoration: none;
    color: white;
}
.btn-acesse-aqui{
    background-color: #494888de;
    border: none;
    border-radius: 15px;
    width: 150px;
    padding: 12px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn-acesse-aqui:hover{
    background-color: #494888;
}

.como-funciona {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 20px;
    color: #615E7C;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-como-funciona{
    text-align: left;
    max-width: 300px;
    font-size: 2rem;
}

.titulo-como-funciona > p{
    font-size: 1.5rem;
}
.passos{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.esfera-passo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #494888;
}

.texto-passo{
    text-align: left;
    margin-left: 15px;
    width: 470px;
}

.p1{
    background-color: #494888de;
}
.p2{
    background-color: #494888b0;
}
.p3{
    background-color: #49488879;
}
.p4{
    background-color: #4948884d;
}

.generos-livros{
    margin: auto;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.generos-livros > h3{
    text-align: center;
    font-size: 2rem;
    color: #5c5b89;
    margin-bottom: 30px;
}

.icones-genero{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.genero{
    text-align: center;
    padding: 10px;
}

.genero > p{
    font-size: 1.0rem;
    color: #5c5b89;
    font-weight: bold;
}

.esfera-genero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: #494888de;
    border-radius: 50%;
}

.secao-livros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow-x: auto;
}

.secao-livros h3 {
    font-size: 2rem;
    color: #5c5b89;
    margin-bottom: 30px;
}

.livros{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: flex-start;
}

.livro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    width: 150px;
    height: 400px;
}

.livro:hover{
    transform: scale(1.05);
}

.fundo-livro {
    padding: 12px;
    border-radius: 5px;
    background-color: #7170a76b;
}

.img-livro{
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: 1;
    object-fit: cover;
}

.texto-livro{
    text-align: center;
    min-height: 80px;
}

.texto-livro h5{
    font-size: 1.2rem;
    font-weight: bold;
    color: #49486b;
}
.texto-livro p{
    font-size: 1.0rem;
    color: #615E7C;
}

.quem-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto-quem-somos{
    width: 80%;
    text-align: center;
}

.imagem-quemsomos > img{
    padding: 15px;
    max-width: 400px;
    object-fit: cover;
}

.texto-quem-somos > h3{
    font-size: 2rem;
    color: #5c5b89;
    margin-bottom: 30px;
}

.texto-quem-somos > p{
    font-size: 1.0rem;
    color: #615E7C;
}

.contatos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contato{
    background-color: #5c5b89;
    border-radius: 15px;
    height: 350px;
    width: 330px;
    padding: 15px;
    color: white;
    text-align: left;
}

.info{
    text-align: left;
}

.info > h4{
    font-size: 1.2rem;
}

.info > p{
    font-size: 0.9rem;
    padding: 1px;
}

.info-contato{
    display: flex;
    gap: 12px;
    align-items: center;
    padding-left: 10px;
}

.info-contato p{
    font-size: 0.9rem;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    margin-top: 12px;
}

.redes-sociais a {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 16px;
    transition: all 0.3s;
    border-radius: 50%;
}

.redes-sociais a:hover{
    background-color: #ffffff41;
}

.campo-msg{
    width: 100%;
    max-width: 580px;
    padding: 30px;
}

.grupo-linha{
    display: flex;
    justify-content: space-between;
}

.elemento-input{
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #dddddd54;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-bottom-color: #5c5b89;
    outline: none;
}

button[type="submit"] {
    background-color: #5c5b89;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #515086;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #7170a7;
    height: 50px;
}

@media (max-width:768px){
    header{
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    .titulo-pag > h1{
        font-size: 1.5rem;
    }
    .inicio{
        padding: 10px;
    }
    .imagem-inicio img{
        width: 180px;
        height: 180px;
    }
    .texto-inicio h3{
        font-size: 1.5rem;
    }
    .texto-inicio button{
        width: 120px;
        font-size: 0.9rem;
    }
    .como-funciona{
        flex-direction: column;
        width: 90%;
    }
    .generos-livros{
        width: 90%;
    }
    .secao-livros{
        width: 90%;
        padding: 10px;
    }
    .livros{
        flex-direction: column;
        align-items: center;
    }
    .livro{
        width: 90%;
        margin-bottom: 20px;
    }
    .quem-somos{
        flex-direction: column;
        width: 90%;
    }
    .imagem-quemsomos img{
        width: 100%;
    }
    .contatos{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .contato{
        width: 90%;
        margin-bottom: 20px;
    }
}