body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 233, 252);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #615e7cc4;
    align-items: center;
    border-radius: 1px;
    height: 60px;
    position: sticky;
    top: 0;
}
header > h1{
    margin-left: 55px;
    color: white;
    font-size: 35px;
}
header > h1 >img {
    width: 35px;
    height: 35px;
}
.menu ul li{
    display: inline-block;
    position: relative;
    margin: 15px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.0rem;
    font-weight: bold;
}
.menu ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s;
}

.menu ul li a:hover::after{
    width: 100%;
}

.inicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
}
.imagem img{
    padding: 15px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.texto {
    text-align: left;
    max-width: 400px;
    color: #615E7C;
}

.texto h3{
    font-size: 2rem;
}

.texto p{
    margin: 10px 0;
    font-size: 1.0rem;
}

.como-funciona {
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 20px;
    color: #615E7C;
    margin-bottom: 50px;
}

.como-funciona > h3{
    text-align: right;
    font-size: 2rem;
    color: #5c5b89;
    margin-bottom: 30px;
}

.passos{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.passo {
    max-width: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.passo > h4{
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.passo p{
    color: #666;
}

.quem-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    margin-bottom: 50px;
}
.texto-quem-somos{
    width: 70%;
}

.texto-quem-somos > h3{
    text-align: left;
    font-size: 2rem;
    color: #5c5b89;
    margin-bottom: 30px;
}

.texto-quem-somos > p{
    font-size: 1.0rem;
    color: #615E7C;
}

.contato{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 170px;
    align-items: center;
    margin: auto;
    width: 70%;
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c5b89;
    height: 300px;
    padding: 15px;
    border-radius: 15px;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #5c5b89;
    height: 50px;
}